@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,100;1,200;1,400;1,600&display=swap");

:root {
  --main-bg: rgb(157, 157, 234);
  --danger-bg: rgb(251, 104, 104);
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Montserrat", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  /* height: fit-content; */
  overflow-y: auto;
  /* background: black; */
}

.sidebar {
  height: 100vh;
  width: 55px;
  background-color: transparent;
  /* box-shadow: 2px 2px 2px 2px rgb(235, 234, 234); */
  position: fixed;
  top: 0px;
  left: 0;
  display: flex;
  /* justify-content: center; */
  padding-top: 24px;
  transition: all 0.4s;
  border: none;
}

.sidebar .menu-close {
  display: none;
}


.sidebar ul {
  /* background-color: green; */
  list-style: none;
  width: 75%;
  display: none;
  gap: 10px;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 20px;
}

.sidebar ul li {
  /* background-color: red; */
  width: 90%;
  padding: 10px;
  cursor: pointer;
}

.cursor {
  cursor: pointer;
}

.icon {
  font-size: 34px !important;
}

.icon-sidebar {
  position: absolute;
  right: 10px;
  top: 20px;
}

header {
  background: var(--main-bg);
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 120px;
}

header h3 {
  color: blue;
  font-size: 35px;
}

header h3 span:nth-child(1) {
  color: blue;
}
header h3 span:nth-child(2) {
  color: crimson;
}

.container {
  box-shadow: 2px 2px 2px 2px rgb(240, 237, 237),
    -2px -2px 2px 2px rgb(240, 237, 237);
  width: 85%;
  border-radius: 12px;
  margin: auto;
  margin-top: 60px;
  padding: 70px 20px;
  margin-bottom: 40px;
  /* background: red; */
  min-height: 200vh;
  /* height: fit-content; */
}

.container .instruction ul {
  /* background: blue; */
  margin-left: 24px;
  font-style: italic;
  margin-top: 15px;
}
.container .instruction .instruction-heading {
  color: var(--danger-bg);
}
.container .instruction ul li {
  color: green;
  line-height: 1.9;
}
.container .instruction ul li span{
  text-decoration: underline;
  color: red;
}

.container .exercise-img {
  /* background-color: red; */
  /* height: 200px; */
  margin-top: 50px;
  width: 100%;
  padding: 10px;
}
.container .exercise-img img {
  width: 100%;
  border: 2px solid black;
}

.container .tasks{
    /* background-color: red; */
    height: 200px;
}


.container .tasks .task-list{
  /* background: blue; */
  margin-left: 30px;
  margin-top: 20px;
  /* line-height: 2.3; */
}
.container .tasks .task-list{
  /* background: yellow; */
  line-height: 1.9;
  margin-bottom: 30px;
}

.images{
  /* background: red; */
  height: 90vh;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  gap: 10px;
}

.images .image{
  /* background: green; */
  height: 280px;
}

.images .image img{
  height: 100%;
  width: 100%;
}


@media screen and (width <= 400px) {
  .container {
    width: 95%;
  }

  .exercise-img {
    margin-top: 10px;
    width: 100%;
    padding: 5px;
  }
}

@media screen and (width <= 850px) {
  .images{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (width <= 580px) {
  .images{
    grid-template-columns: 1fr;
    margin-top: 200px;
  }
}